h1 {
  text-align: center;
}


.nested-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%
}

.nested-container > div {
  flex: 0 0 20%;
  background-color: red;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.projects-container {
  display: flex;
  justify-content: center;
}
